body
{
    background: #99FF33;
}
#container
{
    width: 960px; 
    margin:0px auto; 
    background: #CCFF66;
    border-radius: 10px;  
  
}
textarea
{
    width: 60%;
    height: 20%;
    margin-left: 20%;
    float:left;
    border: 1px solid black;
    margin-top: 1%;
    border-radius: 0px 0px 10px 10px;
   
}
#pseudo
{
    text-align:center;
    width:15%;
    height:8%;
    margin-top:1%;
    background: #99FF33;
    margin-left: 1%;
    border-radius: 0px 0px 10px 10px;
}
#bouton 
{
    width: 40px;
    height:40px;
    border-radius: 60px;
    float:left;
    margin-top:1%;
    margin-left: 1%;
    color: black;
    background: #99FF99;
    border: 1px solid white;
    font-weight: bold;
}
#affichage
{
    margin-left: 20%;
    background: #99FF33;
    width:60%;
    height: 500px;
    border: none; 
    border-radius: 10px 10px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
p{
    float: left;
}
.poste{
    height: 250px;
    width: 500px;
    height: auto;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black; 
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
    background: #99FF99;
}
.poste1{
    height: 250px;
    width: 500px;
    height: auto;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black; 
    margin-top: 25px;
    border-radius: 10px;
    overflow: hidden;
}
#pseudo{
    display: block;
}
.message{
    width: 600px;
    padding: 15px;
    margin-top: 10px;   
}
.cacher_id{
    display: none;
}



#red{
    width: 50px;
    height: 50px;
    background: red;
    float: left;
    margin: 10px;
}

#green{
    width: 50px;
    height: 50px;
    background: green;
    float: left;
    margin: 10px;
}

#yellow{
    width: 50px;
    height: 50px;
    background: yellow;
    float: left;
    margin: 10px;
}

#blue{
    width: 50px;
    height: 50px;
    background: blue;
    float: left;
    margin: 10px;
}


.couleur:hover{
    border: 1px solid black;
}

#bouton:hover {
    width: 45px;
    height: 45px;
}

#bouton:hover i{
    color: gray;
}

.smiley
{
    width: 20px;
    height: 20px;
}

footer{
    height: 15px;
    margin-bottom: 10px;
}